@import './../styles/colors.scss';
@import './../styles/fonts.scss';
@import './../styles/mixins.scss';
@import './../styles/reset';

.details{
    padding-top: 2rem;
    &__namearrow{
        display: flex;
    }

    &__box {
        display: flex;
        flex-wrap: nowrap;
    }

    &__name{
        font-family: 'Avenir-Bold';
        font-size: 1.5rem;
        color: $primary;
        margin-left: 15px;
        margin-top: 2px;

        @include tablet {
            font-size: 2.25rem;
            margin-top: 5px;
        }

        @include desktop {
            margin-top: 6px;
        }
    }

    &__link{
        text-decoration: none;
    }

    &__namearrow {
        padding: 0 1rem;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 1.5rem;
        }

        @include desktop {
            padding: 0 6rem;
        }
    }

    &__inv {
        background-color: $inputBg;
        height: 100%;
        padding-bottom: 0.5rem;
        

        @include tablet {
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
    }
}