@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/reset';
@import '../../styles/mixins';

* {
    margin: 0;
}

.item {
    display: flex;
    border-bottom: 1.5px solid $inputBorder;
    color: $primary;
    padding-top: 1.5rem;

    &:first-of-type {
        padding-top: 0;
    }

    &__box {
        width: 100%;
    }

    &__title {
        color: $accent;
        font-family: 'Avenir-Demi';
        font-size: 0.85rem;
        margin-bottom: 1rem;
        @include tablet {
            display: none;
        }
    }

    &__name {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-family: 'Avenir-Demi';
    }

    &__info {
        font-size: 0.9rem;

        &--space {
            @extend .item__info;
            margin-bottom: 1.5rem;
        }
    }

    &__kebab {
        align-self: flex-start;
        min-width: 4.5px;
    }
}