@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/fonts';

.table {
    padding: 0 1rem;

    @include tablet {
        padding: 0 1.5rem;
    }

    &__heading-bar {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-right: 4.5px;
        }
    }

    &__box-start {
        width: 190px;
        color: $accent;
        font-family: 'Avenir-Demi';
        font-size: 0.75rem;
    }

    &__box-reg {
        width: 95px;
        color: $accent;
        font-family: 'Avenir-Demi';
        font-size: 0.75rem;

        &--marg {
            @extend .table__box-reg;
            margin-right: 3rem;
        }
    }
}