@import '../../styles/fonts';
@import '../../styles/colors';

.address {
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;

    &__box {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    &__title {
        color: $accent;
        font-family: 'Avenir-Demi';
        font-size: 0.85rem;
        margin-bottom: 1rem;
    }

    &__info {
        font-size: 0.85rem;

        &--spaced {
            @extend .address__info;
            margin-top: 1.5rem;
        }
    }
}